<div id="main">


<h12>PayPal-test</h2>

<form action="https://securepayments.sandbox.paypal.com/webapps/HostedSoleSolu tionApp/webflow/sparta/hostedSoleSolutionProcess" method="post">
<input type="hidden" name="cmd" value="_hosted-payment">
<p>支払い金額：<input name="subtotal"></p>
<input type="hidden" name="business" value="xxxxxxxx">
<input type="hidden" name="paymentaction" value="sale">
<input type="hidden" name="return" value="https://yourwebsite.com/receipt_page.html">
<input type="submit" name="METHOD" value="PayPalで支払う">
</form>
</div>