<div id="main">


あああ
<form action="https://securepayments.sandbox.paypal.com/webapps/HostedSoleSolu tionApp/webflow/sparta/hostedSoleSolutionProcess" method="post">
<input type="hidden" name="cmd" value="_hosted-payment">
<input type="hidden" name="subtotal" value="50">
<input type="hidden" name="business" value="TZ3HCDAA9CPYE">
<input type="hidden" name="paymentaction" value="sale">
<input type="hidden" name="return" value="https://yourwebsite.com/receipt_page.html">
<input type="submit" name="METHOD" value="Pay Now">
</form>

</div>